<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>WSAtualizacoes</servlet-name>
		<servlet-class>br.com.atualizacoes.WSAtualizacoesServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>WSAtualizacoes</servlet-name>
		<url-pattern>/wsatualizacoes</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>WSPauta</servlet-name>
		<servlet-class>br.com.atualizacoes.WSPautaServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>WSPauta</servlet-name>
		<url-pattern>/wspauta</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AtualizadorBDAtualizacoes</servlet-name>
		<servlet-class>br.com.atualizacoes.AtualizadorBDAtualizacoes</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AtualizadorBDAtualizacoes</servlet-name>
		<url-pattern>/atualizadorBDAtualizacoes</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AtualizadorBDPauta</servlet-name>
		<servlet-class>br.com.atualizacoes.AtualizadorBDPauta</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AtualizadorBDPauta</servlet-name>
		<url-pattern>/atualizadorBDPauta</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
