<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>WSEstatisticasCandidatos</servlet-name>
		<servlet-class>br.com.estatisticas.WSEstatisticasCandidatosServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>WSEstatisticasCandidatos</servlet-name>
		<url-pattern>/wsEstatisticasCandidatos</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>WSEstatisticasPoliticos</servlet-name>
		<servlet-class>br.com.estatisticas.WSEstatisticasPoliticosServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>WSEstatisticasPoliticos</servlet-name>
		<url-pattern>/wsEstatisticasPoliticos</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>WSEstatisticasEleitorado</servlet-name>
		<servlet-class>br.com.estatisticas.WSEstatisticasEleitoradoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>WSEstatisticasEleitorado</servlet-name>
		<url-pattern>/wsEstatisticasEleitorado</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>AtualizadorBDCandidatos</servlet-name>
		<servlet-class>br.com.estatisticas.AtualizadorBDCandidatos</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AtualizadorBDCandidatos</servlet-name>
		<url-pattern>/atualizadorBDCandidatos</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AtualizadorBDPoliticos</servlet-name>
		<servlet-class>br.com.estatisticas.AtualizadorBDPoliticos</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AtualizadorBDPoliticos</servlet-name>
		<url-pattern>/atualizadorBDPoliticos</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AtualizadorBDEleitorado</servlet-name>
		<servlet-class>br.com.estatisticas.AtualizadorBDEleitorado</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AtualizadorBDEleitorado</servlet-name>
		<url-pattern>/atualizadorBDEleitorado</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
